/* Responsive Design */
body {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  color: #333;
}
.container {
  max-width: 830px;
  margin: 0 auto;
  padding: 1rem;
}
#login-container {
  align-items: center;
}
#logout-btn,
#login-btn {
  max-width: fit-content;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  color: #fff;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}
#logout-btn:hover,
#login-btn:hover {
  background: linear-gradient(135deg, #feb47b, #ff7e5f);
  transform: scale(1.05);
}

/* Card Component */
.card {
  border-radius: 0.5rem;
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Profile Section */
#profile-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  transition: transform 0.3s, box-shadow 0.3s;
}
#profile-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Novel Items */
#novel-list > div {
  margin-bottom: 1rem;
  padding: 1rem;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
#novel-list > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Chapter Container */
#chapter-container {
  padding: 1rem;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  transition: transform 0.3s, box-shadow 0.3s;
}
#chapter-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Novel Content */
#novel-content {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #ffffff;
  max-width: 500px;
}

/* Novel Title */
#novel-title {
  font-weight: bold;
  margin-bottom: 1rem;
  color: #ffffff;
  max-width: 500px;
}
#lgctn {
  align-items: center;
}
#lgctn button {
  margin-top: 1rem;
}
/* Post Button */
#post-btn {
  max-width: fit-content;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: #fff;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}
#post-btn:hover {
  background: linear-gradient(135deg, #2575fc, #6a11cb);
  transform: scale(1.05);
}
#novel-post-container {
  align-items: center;
}
